<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>우리 북카페</title>
    <link rel="stylesheet" th:href="@{/resources/css/list.css?v=3}">
</head>
<body>
<main id="list">
    <h3>북챗 :: 커뮤니티</h3>
    <p>오늘 무슨 책을 읽으셨나요? </p>
    <hr style="color:white;">
    <div style="margin:auto;width:900px;">
        <ul id="main">
            <li>
                <ul class="row">
                    <li>번호</li>
                    <li>제목</li>
                    <li>작성자</li>
                    <li>조회수</li>
                    <li>작성일</li>
                </ul>
            </li>

            <!-- 여기부터는 Thymeleaf 코드로 동적으로 생성되는 부분 -->
            <li th:each="vo : ${list}">
                <ul class="row">
                    <li th:text="${vo.r}"></li>
                    <li>
                        <a th:href="@{'read?idx=' + ${vo.idx} + '&page=' + ${paging.currentPage}}"
                           class="title" th:text="${vo.title}"></a>
                        ..<span style="color:orange;font-size: 80%;">(<span th:text="${vo.commentCount}"></span>)</span>
                    </li>
                    <li th:text="${vo.writer}"></li>
                    <li th:text="${vo.readCount}"></li>
                    <li>
                        <!-- vo.createdAt 날짜 패턴을 적용한 결과 문자열을 createdAt 새로운 변수로 저장 -->
                        <span th:with="createdAt=${#dates.format(vo.createdAt, 'yyyy-MM-dd')}"></span>
                        <!-- 오늘 작성한 글은 시간으로 표시 -->
                        <span th:if="${createdAt} == ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                <span th:text="${#dates.format(vo.createdAt, 'HH:mm')}"></span>
                            </span>
                        <!-- 오늘 이전에 작성한 글은 날짜로 표시 -->
                        <span th:if="${createdAt} != ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                <span th:text="${createdAt}"></span>
                            </span>
                    </li>
                </ul>
            </li>
            <!-- Thymeleaf 코드 끝 -->
        </ul>
        <div style="float:right;margin:40px;">
            <!-- 글쓰기 버튼 -->
            <a href="write" class="button">글쓰기</a>
            <!-- 홈 버튼 -->
            <a th:href="@{${pageContext.request.contextPath}}" class="button">홈</a>
        </div>
    </div>
    <script type="text/javascript">
        /* JavaScript 코드 */
        var message = /*[[${message}]]*/ '';
        if (message.length !== 0) {
            alert(message);
        }

        /* 페이지 번호 스타일 변경 */
        var currentPage = /*[[${paging.currentPage}]]*/ 1;
        var pnums = document.querySelectorAll('.ieach');
        pnums.forEach(function (item) {
            if (item.innerHTML === currentPage.toString()) {
                item.style.color = 'black';
                item.style.fontWeight = 'bold';
            } else {
                item.style.color = '#37966f';
            }
        });
    </script>
</main>
</body>
</html>
