<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body>
<h3>타임리프 템플릿 : spring el은 어떻게 쓸까요?</h3>
<hr/>
<h3 th:text="${message}"></h3> <!-- th : 속성 이용하기 -->
<!-- 반복 -->
<ul>
    <li th:each="str:${list}" th:text="${temp}"></li>
</ul>
<hr/>
    <h3>[[${message}]]</h3> <!-- 인라인 표기 -->
<ul>
    <th:block th:each="str,status:${list}">
        <li>[[${str}]] - [[${status.index}]] </li>
    </th:block>
</ul>
<h3>타임리프 링크 link 테스트</h3>
<ul>
    <li><a th:href="@{/spring(name='momo',age='24')}">
        go SPRING1
        </a>
    </li>

    <li><a th:href="@{spring(name='momo',age='24')}">
        go SPRING2
        </a>
    </li>
    <li><a th:href="@{list(name='momo',age='24')}">
        go list
        </a>
    </li>
    <li><a th:href="@{community(name='momo',age='24')}">
        go 커뮤니티
        </a>
    </li>
</ul>
</body>
</html>